<style>
#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
</style>

<script>
$("#slideshow > div:gt(0)").hide();

setInterval(function() { 
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
},  3000);

</script>

<div id="slideshow">
   <div>
     <img src="slideshowimg2.jpg">
   </div>
   <div>
     <img src="//farm6.static.flickr.com/5230/5638093881_a791e4f819_m.jpg">
   </div>
   <div>
     Pretty cool eh? This slide is proof the content can be anything.
   </div>
</div>

<div align="center">
	<h1>Where dreams come true</h1>
	<hr>
	<p>FirstSight is Thailand's first ever dating website THAT WORKS. Through FirstSight, you can discover tons of people in Bangkok and even chat with them directly! We cut out all the unnecessary bits that's standing between you and your soulmate.</p>

	<%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-primary", :id =>"blueBG" %>
  
</div>