<div>
	<% conversation.participants.each do |participant| %>
	  <% unless participant == current_user %>
		  	<!-- <p><%= image_tag participant.image(:thumb) %></p> -->
		  	<p><%= participant.first_name %></p>
		</span>
	  <% end %>
	<% end %>
</div>