<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8"></div>
		<h1>Editing User</h1>
		<%= render 'form' %>
	</div>
	<div class="col-md-2"
	<%= link_to 'Show', @user %> |
	<%= link_to 'Back', users_path %>
</div>