<%- if current_user.id == @user.id %>
	<div class="row">
		<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>Editing User</h1>
				<%= render 'form' %>
			</div>
		</div>
	</div>
<%- else %>
	<div class="row">
		<h2>You're not allowed to edit other users</h2>
	</div>
<%- end %>